.klasseliste{
  display: flex;
  justify-content: space-evenly;
}
.body{
  display: flex;
  justify-content: space-evenly;

}



h2 {
  text-align: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  font-family: Arial;
  font-weight: 700;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 120px;
  margin-top: -25px;
}